[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
jukeboxdapp = "FqrWRRd9Zm5NosY73CjHowFCC44KbxXbUmQPpGrK4PMV"

[programs.devnet]
jukeboxdapp = "FqrWRRd9Zm5NosY73CjHowFCC44KbxXbUmQPpGrK4PMV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "vitest"
